body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 15px;
    weight: 400;
    line-height: 24px;
    margin:0;
    background-color: rgb(0,126,243);
    margin:0 auto;
    width: 1360px;
}


section.wemakemagic
{
    height:460px;
    margin-bottom:80px;
    padding-top:200px;
    background-image:url("imagesmaquette/man_working.png");
    background-repeat:no-repeat;
    background-position:700px 0px;
}

section.wemakemagic
{
    color:aliceblue;
}




.wemakemagic-container
{
    display:flex;
    
}

.wemakemagic-textblock
{
    padding-left:200px;

}

.wemakemagic-textblock p
{
color:RGB(174, 214, 251);
width:360px;
height:40px;

}

.wemakemagic-textblock h1
{
    font-size: 64px;
    width:280px;
    height:150px;
    line-height:1.2;

}

section.whatdowedo p
{
    color:gray;
}


section.whatdowedo
{
    background-color:aliceblue;
    color: black;
    max-width:auto;
    height:280px;
    margin-top:120px;
    padding-top:50px;
    padding-left:300px;
    padding-bottom:
}


.whatdowedo-container
{
    width:700px;
    height:150px;
    text-align:center;
    align-items: center;
}

.whatdowedo-container h2
{
    font-size: 40px;
}
section.howdowedoit
{
    width:1360px;
    height:480px;
    background-color: rgb(0,126,243);
    padding-left: 210px;
    

}

.howdowedoit-textblock h2
{
    font-size:40px;
}

.howdowedoit-container
{
    display:flex;
}


.howdowedoit-textblock
{
    width:700px;
    height:480px;
    color:aliceblue;
    padding-top:120px;
}

.howdowedoit-textblock h2
{
    width:350px;
}

.howdowedoit-textblock p
{
    color:RGB(174, 214, 251);
    width:400px;
}

.howdowedoit-textblock a
{
    color:white;
}


.ourvalues-container
{
    display:flex;
    color:white;
}

.ourvalues-img
{
    width:580px;
    height:360px;
    background-color: RGB(0,103,199);
    padding-top:80px;
    padding-left:100px;
    padding-bottom:100px;
}

.ourvalues-textblock
{
    padding-left:50px;
}

li.ourvalues-liste
{   display:flex;
    border-bottom: 1px solid rgba(104,165,222,255);
    justify-content: space-between;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    position: absolute;
    color:RGB(174, 214, 251);
}


header a.navbar-logo
{
    padding-left:30px;
    padding-right:70px;
}


a
{
    text-decoration:none;
}


header a.ourstudio
{
    width:105px;
    height:75px;
    background-color: rgb(0,103,199);
    padding-top:30px;
    padding-bottom:25px;
    padding-left:15px;
    padding-right:15px;
    font-weight:bold;
    color:white;
}


ul li 
{
    display: inline;
}


li a 
{
    display: inline;
    padding: 10px;
    margin: 8px;
    color:aliceblue;
}


.container-loupe
{
    filter:invert(100%);
    padding-right:20px
}

.container-loupe img
{
    height:20px;
    width:auto;
}


nav
{
    padding-right:187px;
    padding-left:150px;
}


.yourarea-container
{
    border-radius:5px;
    border: 1px solid rgba(104,165,222,255);
    height:30px;
    width:150px;
    padding-top:10px;

}


.yourarea-container img
{
    filter:invert(100%);
    padding-right:20px;
    height:20px;
    width:auto;
}


.yourarea-container a
{
    padding-left:30px;
    color:white;
}


.main-container
{   
    width: 680px;
    height: 480px;
    margin: 0;
    padding: 0px 0px;
    display: flex;
    justify-content: right;
    padding-right:210px;
}

.main-container img
{
    width:680px;
}

section.contactus
{
    background-color:white;
    color:black;
    height:860px;
}

.contactus-container
{
    display:flex;
}

.text-contactus
{
    padding-left:220px;
    padding-top:80px;
}

.text-contactus img
{
    width: 540px;
    height: 570px;
    margin: 0;
    padding: 0px 0px;
    display: flex;
    justify-content: left;
}

.text-contactus h2
{
    padding-bottom:55px;
    font-size: 40px;
}


.text-contactus p
{
    padding-bottom:35px;
    color:RGB(175, 175, 175);
}




.madamebleuetc
{

}

.carrebleu
{
    height:310px;
    width:305px;
    background-color: RGB(223, 240, 255);
    border-radius:5px;
}

.carrebleu img
{
    padding-top:20px;
    padding-left:20px;
}

.carrebleu p
{
    padding-left:20px;
    padding-right:20px;
    line-height:0.8;

}

.carregris
{
    width:280px;
    height:135px;
    background-color: RGB(247, 247, 247);
    padding-top:25px;
    padding-left:25px;
}

section.startwithb
{
    height:257px;
    background-color:rgb(244,244,244);
    padding-top:30px;
}


footer.socialmedia
{
    text-align: center;
    height:170px;
    padding-top: 100px;
    background-color:white;
    justify-items: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
}


footer.blacklogo
{
    height:235px;
    text-align:center;
    color:black;
    background-color:white;
    font-weight: bold;
    padding-top: 85px;
}

section.ourvalues h2
{
    font-size:40px;
}