body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:aliceblue;
    background-color:black;
    size: 15px;
    weight: 400;
    line-height: 24px;
}
.page
{
    margin:0 auto;
    width: 1360px;
    background-color: rgb(0,126,243);
}

html body
{
margin:0;

}
.wemakemagic-image
{
    display:grid;
}
section.wemakemagic h1
{
    font-size:larger;
}
section.whatdowedo p
{
    color:gray;
}

section.whatdowedo
{
    background-color:aliceblue;
    color: black;
    max-width:auto;
    height:310px;
    margin-top:120px;
}
.whatdowedo-container
{
    width:700px;
    height:150px;
    text-align:center;
    align-items: center;
}

section.contactus
{
    width: 540px;
    height: 570px;
    margin: 0;
    padding: 0px 0px;
    display: flex;
    justify-content: right;
}

section.contactus img
{
    object-fit: cover;
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr)
}

header 
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    float: left;
    
}
.container-loupe
{
    filter:invert(100%);
}


.yourarea-container img
{
    filter:invert(100%);
}
.main-container
{   
    width: 680px;
    height: 420px;
    margin: 0;
    padding: 0px 0px;
    display: flex;
    justify-content: right;
}


section.howwedoit img
{
    object-fit: cover;
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr)
}

ul li 
{
    display: inline;
}

li a 
{
    display: inline;
    padding: 10px;
    margin: 8px;
    color:aliceblue;

}
